@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#header-section {
    display: flex;
    justify-content: space-between;
    background-color: #35b656;
    align-items: center;
    padding: 20px 80px;
    text-align: center;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#header-section .logo {
    width: 150px;
    height: auto;
}

#navbar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar li {
    margin: 0 15px;
}

#navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
}

#navbar li a:hover,
#navbar li a:active {
    color: #030202;
}

#navbar li a.active ::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: #bb1010;
    position: absolute;
    bottom: -5px;
    left: 20px;
    color: #bb1010;
}