@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#header-section {
    display: flex;
    justify-content: space-between;
    background-color: #99658c;
    align-items: center;
    padding: 20px 80px;
    text-align: center;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}

#header-section .logo {
    width: 150px;
    height: auto;
    align-items: left;
    border-radius: 10px;
}

#navbar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#navbar li {
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
}

#navbar li a:hover,
#navbar li a:active {
    color: #030202;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #fffdfd;
    position: absolute;
    bottom: -4px;
    left: 20px;
}